<div class="container">
    <form action="/foo" method="post">
        <div class="form-group">
            <label for="username">User name</label>
            <input type="text" placeholder="User name" name="username" class="form-control" id="username" required placeholder="Your username" />
        </div>
        <button type="submit" class="btn btn-block btn-danger btn-lg">Enter</button>
    </form>
</div>